<!-- <div class="gallery-container">
    <mat-grid-list cols="3" rowHeight="200px" gutterSize="8px">
      <mat-grid-tile *ngFor="let item of fullGallery " class="gallery-item">
        <img [src]="item" alt="Nail Art">
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->


  <div style="position:relative; width:100%; padding-bottom: 100%; height: 0;">
    <iframe src="//lightwidget.com/widgets/9af50681f7d65992b606034b2684c922.html"
      scrolling="no"
      allowtransparency="true"
      class="lightwidget-widget"
      style="position:absolute; top:0; left:0; width:100%; height:100%; border:0; overflow:hidden;">
    </iframe>
  </div>