<!-- <div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>&copy; 2024 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
      </div>
    </footer>
  </div> -->


  <!-- footer.component.html -->
<footer>
  <!-- Newsletter Section -->
  <div class="footer-upper">
    <div class="container newsletter-section text-light py-4 align-items-center d-flex justify-content-center">
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="d-flex align-items-center mb-3 mb-md-0">
          <span class="newsletter-title me-3">RICEVI LA NEWSLETTER</span>
          <div class="divider"></div>
        </div>
  
        <form class="d-flex flex-grow-1 mx-md-3" (ngSubmit)="subscribeNewsletter()" #newsletterForm="ngForm">
          <input
            type="email"
            class="form-control me-3 newsletter-input"
            name="email"
            [(ngModel)]="email"
            placeholder="Inserisci la tua e-mail qui"
            required
          />
          <button type="submit" class="btn btn-light d-flex align-items-center newsletter-button">
            <i class="bi bi-envelope me-1"></i> SOTTOSCRIVI
          </button>
        </form>
        
        <div *ngIf="successMessage" class="newsletter-success text-success mt-2 mt-md-0">
          {{ successMessage }}
        </div>
      </div>
    </div>
  </div>

  <!-- Main Footer Section -->
  <div class="bg-dark py-5">
  <div class="container text-light pt-5">
    <div class="row">
      <!-- My Account -->
      <div class="col-md-3 mb-4">
        <h6 class="fw-bold border-bottom"><i class="bi bi-chevron-right"></i> MY ACCOUNT</h6>
        <ul class="list-unstyled small">
          <li><a href="#" class="text-secondary text-decoration-none"><i class="bi bi-chevron-right"></i>My Account</a></li>
          <li><a href="#" class="text-secondary text-decoration-none"><i class="bi bi-chevron-right"></i>Addresses</a></li>
          <li><a href="#" class="text-secondary text-decoration-none"><i class="bi bi-chevron-right"></i>Wishlist</a></li>
        </ul>
      </div>

      <!-- Customer Service -->
      <div class="col-md-3 mb-5">
        <h6 class="fw-bold border-bottom"><i class="bi bi-chevron-right"></i> CUSTOMER SERVICE</h6>
        <ul class="list-unstyled small">
          <li><a href="#" class="text-secondary text-decoration-none"><i class="bi bi-chevron-right"></i>News</a></li>
          <li><a href="#" class="text-secondary text-decoration-none"><i class="bi bi-chevron-right"></i>Blog</a></li>
          <li><a href="#" class="text-secondary text-decoration-none"><i class="bi bi-chevron-right"></i>Contact Us</a></li>
        </ul>
      </div>

      <!-- Information -->
      <div class="col-md-3 mb-4">
        <h6 class="fw-bold border-bottom"><i class="bi bi-chevron-right"></i> INFORMATION</h6>
        <ul class="list-unstyled small">
          <li><a href="#" class="text-secondary text-decoration-none"><i class="bi bi-chevron-right"></i>Shipping & Returns</a></li>
          <li><a href="#" class="text-secondary text-decoration-none"><i class="bi bi-chevron-right"></i>Privacy Notice</a></li>
          <li><a href="#" class="text-secondary text-decoration-none"><i class="bi bi-chevron-right"></i>Conditions Of Use</a></li>
          <li><a href="#" class="text-secondary text-decoration-none"><i class="bi bi-chevron-right"></i>About Us</a></li>
        </ul>
      </div>

      <!-- Social / Payment -->
      <div class="col-md-3 mb-4">
        <h6 class="fw-bold border-bottom"><i class="bi bi-chevron-right"></i> FOLLOW US</h6>
        <div class="mb-3 d-flex gap-2">
          <button class="btn btn-outline-light btn-sm rounded-circle"><i class="bi bi-facebook"></i></button>
          <button class="btn btn-outline-light btn-sm rounded-circle"><i class="bi bi-twitter"></i></button>
          <button class="btn btn-outline-light btn-sm rounded-circle"><i class="bi bi-youtube"></i></button>
          <button class="btn btn-outline-light btn-sm rounded-circle"><i class="bi bi-instagram"></i></button>
        </div>
        <h6 class="fw-bold mt-3 border-bottom "><i class="bi bi-chevron-right"></i> PAYMENT METHODS</h6>
        <div class="d-flex gap-2">
          <img src="https://campusbee.ug/wp-content/uploads/2017/08/visa-logo.png" alt="Visa" height="25">
          <img src="https://logohistory.net/wp-content/uploads/2023/05/Mastercard-Logo-2016.png" alt="MasterCard" height="25">
          <img src="https://www.pngall.com/wp-content/uploads/5/PayPal-Logo-PNG-Picture.png" alt="PayPal" height="25">
        </div>
      </div>
    </div>
  </div>
  </div>


  <!-- Bottom Bar -->
  <div class="text-center py-3 bg-secondary text-white small">
    <div class="mt-1"><p>&copy; 2024 Company, Inc. All rights reserved.</p></div>
  </div>
</footer>
