<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'scrolled': isScrolled || !isHomePage}">
    <div class="container">
      <a class="navbar-brand" href="#">Your Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link hoverable" id="len1" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link hoverable" id="len2" href="/about">About</a></li>
          <li class="nav-item"><a class="nav-link hoverable" id="len3" href="/gallery">Services</a></li>
          <li class="nav-item"><a class="nav-link hoverable" id="len4" href="/contact">Contact</a></li>
          <li class="nav-item"><a class="nav-link hoverable" id="len4" href="/test">Test</a></li>
        </ul>
      </div>
    </div>
  </nav>

<app-home-backgroud *ngIf="isHomePage"></app-home-backgroud>