<div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=2048&amp;height=800&amp;hl=en&amp;q=JoJo nails Viale Umbria, 18, 20135 Milano MI, Italy&amp;t=&amp;z=19&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://embed-googlemap.com">embed google maps in website</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:800px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:800px;}.gmap_iframe {height:800px!important;}</style></div>

<div class="contact-container">
    <div class="contact-box row">
      <div class="contact-info text-white p-5 col-md-6">
        <h2>CONTATTI</h2>
        <p><strong>Indirizzo:</strong> <a href="{{ googleMapsUrl }}" class="text-white" target="_blank">{{ address }}</a></p>
        <p><strong>Telefono:</strong> <a href="tel:{{ phoneNumber }}" class="text-white">{{ phoneNumber }}</a></p>
        <h3>Orari di apertura</h3>
        <ul class="list-unstyled">
          <li *ngFor="let day of workingHours">{{ day.day }}: {{ day.hours }}</li>
        </ul>
        <p><strong>Email: </strong> <a href="mailto:{{email}}" class="text-white">{{email}}</a></p>
      </div>
      <div class="contact-form">
        <h3>RIMANI IN CONTATTO</h3>
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Nome" required>
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Email" required>
          </div>
          <div class="mb-3">
            <input type="tel" class="form-control" placeholder="Telefono" required>
          </div>
          <div class="mb-3">
            <textarea class="form-control" rows="3" placeholder="Messaggio" required></textarea>
          </div>
          <button type="submit" class="btn btn-send">INVIA</button>
        </form>
      </div>
    </div>
  </div>