<div class="home-container">
        <section class="container py-5">
            <h2 class="text-center mb-4">Share Your Social</h2>
            <div class="row">
              <div class="col-md-4" *ngFor="let item of previewMedia">
                <app-media-card [media]="item"></app-media-card>
              </div>
            </div>
            <div class="text-center mt-3">
              <!-- <a routerLink="/gallery" mat-raised-button color="primary">Learn More</a> -->
              <a href="/gallery" mat-raised-button color="primary">Learn More</a>
            </div>
        </section>
</div>

<br/>
  <app-google-reviews></app-google-reviews>
<br/>

<br/>

<section class="about">
  <div class="about-content">
    <img [defaultImage]="defaultImage" [lazyLoad]="image" [offset]="offset" alt="Designer" class="about-image">
    <div class="text-content">
      <h1>ABOUT US</h1>
      <p>
        Hackney started as a small interior design firm in downtown Michigan, aiming to help home buyers
        to make do with the new space that they had acquired. It soon became obvious that it would make
        sense to help our clients see beyond the walls and floor plans, and be there with them from the get-go.
      </p>
      <p>
        Currently, we offer house realtor, interior design, and architecture services in order to help our
        customers find their forever homes as seamlessly and painlessly as possible. We value our customers
        above everything else, meaning that we won’t take "OK" as an answer.
      </p>
    </div>
  </div>
</section>
<br/>