:host {
    height: 100%; 
  
    button {
      padding: 0;
    }
  
    img {
      width: 100%;
      transition: transform 90s;
      transform: scale(1) translateZ(0); 
    }
  
    &:hover {
      img {
        transition: transform 30s;
        transform: scale(1.33) translateZ(0); 
      }
    }
  }
  